<script setup lang="ts">

</script>

<template>
  <div><v-icon icon="mdi-home" />
    <v-btn>
  Button
</v-btn>
  </div>
  <v-card
    class="mx-auto"
    max-width="200"
    height="200"
    image="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
    title="Card title"
    theme="dark"
  ></v-card>

  
</template>