<script setup lang="ts">
import { ref } from 'vue';
import { RouterLink, RouterView } from 'vue-router'
const rail =ref(true)
const drawer =ref(true)
</script>

<template>
  <v-layout class="rounded rounded-md">
    <v-app-bar
    color="white"
        image="https://images.squarespace-cdn.com/content/v1/631943b5aaa6db42756b140e/d59bb6a8-c7ec-4dce-bef3-d879f15f42dd/DSCF6492.JPG"
      >
        <template v-slot:image>
          <v-img
            
          ></v-img>
        </template>

        <template v-slot:prepend>
          <v-app-bar-nav-icon color="white" @click.stop="rail = !rail" ></v-app-bar-nav-icon>
        </template>
    

        <v-spacer></v-spacer>

        <v-btn icon>
          <v-icon color="white">mdi-magnify</v-icon>
        </v-btn>

        <v-btn icon>
          <v-icon color="white">mdi-heart</v-icon>
        </v-btn>

        <v-btn icon>
          <v-icon color="white">mdi-dots-vertical</v-icon>
        </v-btn>
      </v-app-bar>

      <v-navigation-drawer
        v-model="drawer"
        :rail="rail"
        permanent
        @click="rail = false"
      >
        <v-list-item
          prepend-avatar="https://64.media.tumblr.com/9b0c9c04fa5842926dfd152bdc4db2bb/tumblr_peqpg5aJXm1w8j8zs_1280.jpg"
          title="Yoon Jeonghan"
          nav
        >
          <template v-slot:append>
            <v-btn
              variant="text"
              icon="mdi-chevron-left"
              @click.stop="rail = !rail"
            ></v-btn>
          </template>
        </v-list-item>

        <v-divider></v-divider>

        <v-list density="compact" nav>
          <v-list-item prepend-icon="mdi-home-city" title="Home" value="home"></v-list-item>
          <v-list-item prepend-icon="mdi-account" title="My Account" value="account"></v-list-item>
          <v-list-item prepend-icon="mdi-account-group-outline" title="About" value="about"></v-list-item>
        </v-list>
      </v-navigation-drawer>


    </v-layout>
</template>